.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid rgb(171, 171, 171);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    z-index: 10;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
}

.left-section .logo {
    height: 60px;
    margin-left: 50px;
    cursor: pointer;
}

.middle-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.search-bar {
    font-family: 'Roboto', 'Arial';
    color: rgb(104, 104, 104);
    font-size: 17px;
    outline: none;
    border: 1px solid rgb(131, 131, 131);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    max-width: 500px;
    height: 40px;
    padding-left: 20px;
    flex: 1;
    transition: box-shadow 0.15s;
}

.search-bar::placeholder {
    font-size: 17px;
    font-weight: 500;
}

.search-bar:hover,
.search-icon:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.30);
}

.search-icon {
    padding: 8px 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #7b1113;
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    padding-right: 30px;
    flex-shrink: 0;
}

.sign-up,
.login {
    background-color: #7b1113;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border-style: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    transition: opacity 0.15s, box-shadow 0.15s;
    text-decoration: none;
}

.sign-up:hover,
.login:hover {
    opacity: 0.8;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.30);
}

.right-section .profile-pic {
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
}