main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apartment-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0px;
}

.apartment-address {
    margin-right: 40px;
}

.apartment-name {
    font-size: 30px;
    font-weight: 700;
}

.apartment-summary {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
}

/* Below Title */

.photo-fees {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    border: 1px rgba(0, 0, 0, 0.159) solid;
    border-radius: 15px;
    padding: 20px 10px 20px 20px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.img-container img {
    border-radius: 10px;
}

.fees {
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 20px;
}

.fee-section {
    display: flex;
    flex-direction: row;
}


.fees div {
    padding: 0px 25px 15px 0px;
}

.fee-second-section {
    display: flex;
    flex-direction: row;
}

.fee-second-section .second-column div{
    padding: 0px 0px 15px 0px;
}
/* Building Info */

/* Bureau of Fire Protection (BFP) Compliance */

.building-info-container {
    /* background-color: lightblue; */
    width: 50%;
    padding-top: 10px;
}

.building-info {
    padding: 40px 0px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}

.info-title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
}

.building-detail {
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

.building-detail li {
    list-style-type: disc;
}

.building-detail div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    line-height: 20px;
}

.check-icon {
    width: 25px;
}